
form {
  max-width: 400px;
  margin: 2rem ;
  padding: 2rem;
  padding-top: 1rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body{
    display: flex;
  justify-content: center;
  align-items: center;
}
.custom {
    font-size: 1.3rem;
    color: #333;
    padding: 0 20px;
    
}
.urlForm {
   width: 50%;
}

.input {
    width: 80%;
    
}

.btn{
    width: 88%;
   
}